:root {
    --green: #26bc18;
    --darkblue: #002e4f;
    --darkgray: #231f20;
    --gray: #594e4f;
    --lightgray: #f5eff1;
}

th {
    text-align: left;
    padding-top: 10px;
}

td {
    vertical-align: top;
}

th#centered {
    text-align: center;
}
td#centered {
    text-align: center;
}

/*
 * default link settings
 */
a:link {
    font-weight: 500;
    color: var(--darkblue);
}

a:visited {
    font-weight: 500;
    color: var(--darkblue);
}

/* 
 * navigation bar 
 */
.navbar {
    position: fixed; 
    display: block;
    top: 0;
    height: 40px;
    width: 100%;
    align:center;
    border-bottom: 2px solid var(--darkblue);
    background: var(--lightgray);
}

.navbar-right {
    float: right;
}

.navbar a {
    font-family: 'Jost', sans-serif;
    float: left;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
    margin: .5em 20px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: var(--darkgray);
}

.navbar a.active {
    font-weight: 500;
    color: var(--darkblue);
}


/* 
 * other kinds of links 
 */
a#button {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: var(--darkblue);
    text-align: center;
    padding: 10px 10px;
    margin:5px 5px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 2px solid var(--darkblue);
    background: var(--lightgray);
}

a:hover#button {
    color: var(--darkgray);
    border-bottom: 3px solid var(--darkgray);
    font-weight: 400;
}

/*
 * Main styles
 */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--darkgray);
    background: var(--lightgray);
}

h1 {
    font-family: 'Jost', sans-serif;
    color: var(--darkblue);
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-family: 'Jost', sans-serif;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

#title-banner {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    display: block;
    background-size: cover;
    color: var(--darkblue);
    line-height:1.5em;
    font-size:38px;
    padding-left:10%;
    padding-top:80px;
}

#name-banner {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    display: block;
    background-size: cover;
    color: var(--darkblue);
    line-height:1.5em;
    font-size:38px;
    margin-left:10%;
    margin-top:70px;
}

main {
    margin:5% 10%;
}

img#portrait {
    float:left;
    margin-top:0px;
    margin-left:2%;
    margin-right:3%;
}

footer {
    border-top: 1px solid var(--darkblue);
    font-size: 14px;
    margin-bottom:2%;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
}

address {
  display: block;
  font-style: normal;
}

#last-update {
    margin-top:2%;
    width:100%;
    text-align: center;
    font-size:13px;
    font-weight: lighter;
}


@media screen and (max-width: 683px) {
    #name-banner {
        font-size: 30px;
    }
    #title-banner {
        font-size: 30px;
    }
    img { 
        display: none; 
    }
    #main-menu {
        font-size:14px;
        padding-left:10px;
    }
    .footer-wrapper {
        display:inline;
    }
    .footer-column#contact {
        width:100%;
    }
.navbar a {
        font-size: 12px;
    }
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 10px;
}

abstract {
    padding: 1% 1% 2% 2%;
    display: none;
    font-style: italic;
}
