<footer>
    <h4>Contact</h4>
    <div class="address-content">
        <div class="address-text">
            <div>
                Département de mathématiques et de statistique,
                Université de Moncton,
                60 Notre-Dame-du-Sacré-Coeur Street,
                Moncton E1A 3E9,
                Nouveau-Brunswick,
                Canada
            </div>
            <div>herman.goulet-ouellet@umoncton.ca</div>
        </div>
        <div class="logo-content">
            <a href="https://www.umoncton.ca/umcm-sciences-mathstat/">
                <img src="/assets/logo_umoncton.svg" 
                    alt="Logo de l'Université de Moncton" 
                    data-alt-en="Université de Moncton logo"
                    style="height: 4em;"
                    loading="lazy">
            </a>
            <a href="https://nserc-crsng.canada.ca/fr">
                <img src="/assets/logo_nserc.svg" 
                    alt="Logo du CRSNG"
                    data-alt-en="NSERC logo" 
                    style="height: 4em;"
                    loading="lazy">
            </a>
        </div>
    </div>
    <br>
    <div id="last-update"></div>

    <script>
        (() => {
            const lang = document.documentElement.lang || navigator.language || 'fr-CA';

            document.querySelectorAll('[data-alt-en]').forEach(img => {
                img.alt = lang.slice(0, 2) === "en" ? img.dataset.altEn : img.alt;
            });

            const updateDiv = document.getElementById("last-update");
            if (!updateDiv) return;

            const date = new Date(document.lastModified);
            const options = { year: "numeric", month: "long", day: "numeric" };
            const dateStr = date.toLocaleDateString(lang, options);

            updateDiv.textContent = (lang.slice(0, 2) === "en" ? "Last updated: " : "Dernière mise à jour : ") + dateStr;
        })();
    </script>
</footer>