<nav class="navbar">
    <button type="button" class="toggle" aria-label="Toggle Navigation" aria-expanded="false" aria-controls="navbar-links"
        onclick="toggle(this)">
        <span id="mobile-page-title" class="current-page"></span>
        <span class="icon-toggle" aria-hidden="true">
            <span class="bar line-left"></span>
            <span class="bar line-right"></span>
        </span>
    </button>

    <div id="navbar-links" class="toggle-target">
        <div class="navbar-links-inner">
            <a href="/">Accueil</a>
            <a href="/publications/">Publications</a>
            <a href="/exposes/">Exposés</a>
            <a href="/enseignement/">Enseignement</a>
        </div>
    </div>

    <div class="navbar-lang">
        <a href="./" class="active">fr</a>
        <a href="en/">en</a>
    </div>
</nav>

<script>
    (() => {
        const path = window.location.pathname.replace(/index\.html$/, '');
        const activeLink = document.querySelector(`.navbar-links-inner a[href="${path}"]`);
        if (activeLink) {
            activeLink.classList.add('active');
            const pageTitleLabel = document.getElementById('mobile-page-title');
            if (pageTitleLabel) {
                pageTitleLabel.textContent = activeLink.textContent;
            }
        }
    })();
</script>